/* Mixins */
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin gradient-text {
  background-clip: text;
  background-image: get-nary-linear-gradient(right, "primary");
  color: transparent;
  -webkit-background-clip: text;
}

@mixin position-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin responsive-breakpoint($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: $screen-width-small) {
      @content;
    }
  }

  @if $breakpoint == tablet-portrait {
    @media only screen and (max-width: $screen-width-medium) {
      @content;
    }
  }

  @if $breakpoint == tablet-landscape {
    @media only screen and (max-width: $screen-width-large) {
      @content;
    }
  }
}
