/* Mixins */
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin gradient-text {
  background-clip: text;
  background-image: get-nary-linear-gradient(right, "primary");
  color: transparent;
  -webkit-background-clip: text;
}

@mixin position-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
