.button {
  &:link,
  &:visited {
    border-radius: 10rem;
    display: inline-block;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
  }

  /* Make it look like the button goes up when interacted with. */
  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    transform: translateY(-3px);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    transform: translateY(-1px);
  }

  /* Make it look like the button flashes when hovered. */
  &::after {
    border-radius: 10rem;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    transition: all .5s;
    z-index: -1;
  }

  &--white {
    background-color: $color-white;
    color: $color-gray-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}
